.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    min-height: 100%;
    gap: 10px;
}

.searchBox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ecedf6;
    height: 2rem;
    padding: 4px 12px;
    border-radius: 8px;
}

.searchBox form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchBox form button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20%;
    padding: 5px;
    background-color: transparent;
    color: black;
}

.searchBox form button:hover {
    background-color: gray;
}

.searchBox form>input {
    background-color: transparent;
    color: black;
    font: inherit;
    border: none;
    width: 100%;
    font-size: 0.9rem;
}

.searchBox form>input::placeholder {
    color: #B3B4C0;
}

.searchBox form>input:focus {
    outline: none;
}